.main-content {
  grid-area: main-content;
  overflow: auto;
  padding-inline: 1rem;
  padding-block: 2rem;

  @media screen and (min-width: 768px) {
    padding-inline: 2rem;
  }
}

.hr {
  margin-block: 1rem;
}
