.header {
  grid-area: header;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-button {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: transparent;

  &:hover {
    background-color: #f0f0f0;
  }
}
