.header {
  grid-area: header;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}
