/* https://www.digitalocean.com/community/tutorials/css-css-grid-holy-grail-layout */

div#root {
  display: flex;
  flex-direction: column;
}

@media (width >= 768px) {
  div#root {
    display: grid;

    grid-template-areas:
      'header header header'
      'side-left main-content side-right'
      'footer footer footer';

    grid-template-columns: minmax(0, 1fr) 1280px minmax(0, 1fr);
    grid-template-rows: auto 1fr auto;
    column-gap: 10px;
  }

  /* will need to make a component for this, when decided what to use it for (maybe ads or navigation?) */
  .aside--left {
    grid-area: side-left;
    margin-left: 0.5rem;
  }

  /* will need to make a component for this, when decided what to use it for (maybe ads or navigation?) */
  .aside--right {
    grid-area: side-right;
    margin-right: 0.5rem;
  }
}

@media (max-width: 1300px) {
  div#root {
    grid-template-columns: 0 1fr 0;
    column-gap: 0;
  }

  .aside--left,
  .aside--right {
    display: none;
  }
}
